@(registrations: List[Registration], registrationForm: Form[Registration])

@import helper._

@main("Registration") {
    
    <h1>Registration POC</h1>

    <h3>@registrations.size() registration(s)</h3>
    
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th> </th>
        </tr>
        @for(registration <- registrations) {
            <tr>
                <td> @registration.firstName @registration.lastName </td>               
                <td> @registration.email </td>  
                <td> @registration.phone </td>  
                
                <td> 
                @form(routes.Application.deleteRegistration(registration.id)) {
                    <input type="submit" value="Delete">
                }
                </td> 
            </tr>
        }
    </table>
    
    <br/>
    <h2>Add a new registration</h2>
    
    @form(routes.Application.newRegistration()) {
        
        @inputText(registrationForm("firstName"), 
            'size -> 50,
            '_label -> "First Name",
            'placeholder -> "Enter first name..."
        )  
        
        @inputText(registrationForm("lastName"),
            'size -> 50,
            '_label -> "Last Name",
            'placeholder -> "Enter last name..."
        )  
        
        @inputText(registrationForm("email"), 
            'size -> 35,
            '_label -> "Email",
            'placeholder -> "Enter email..."
        )  
        
        @inputText(registrationForm("phone"),
            'size -> 25,
            '_label -> "Phone Number",
            'placeholder -> "Enter phone number..."
        )  
        
        <input type="submit" value="Register Now">
        
    }
    
}
