@(registrations: List[models.com.nisum.poc.play.Registration], registrationForm: Form[models.com.nisum.poc.play.Registration])

@import helper._
@import controllers.com.nisum.poc.play._

@main("Registration") {
    
    <h1>Registration POC</h1>

    <h3>@registrations.size() registration(s)</h3>
    
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th> </th>
            <th> </th>
        </tr>
        @for(registration <- registrations) {
            <tr>
                <td> @registration.getId() </td>  
                <td> @registration.getFirstName() @registration.getLastName() </td>               
                <td> @registration.getEmail() </td>  
                <td> @registration.getPhone() </td>  
                
                <td> 
                @form(routes.RegistrationController.updateRegistration(registration.getId())) {
                    <input type="submit" value="<Update>">
                }
                </td> 

                <td> 
                @form(routes.RegistrationController.deleteRegistration(registration.getId())) {
                    <input type="submit" value="<Delete>">
                }
                </td> 
            </tr>
        }
    </table>
    
    <br/>
    <h2>Add / Update a registration</h2>
    
    @form(routes.RegistrationController.saveRegistration()) {      
        <input type="hidden" id="id" name="id" value="@registrationForm.data.get("id")" />
        
        @inputText(registrationForm("firstName"), 
            'size -> 50,
            '_label -> "First Name",
            'placeholder -> "Enter first name..."
        )  
        
        @inputText(registrationForm("lastName"),
            'size -> 50,
            '_label -> "Last Name",
            'placeholder -> "Enter last name..."
        )  
        
        @inputText(registrationForm("email"), 
            'size -> 35,
            '_label -> "Email",
            'placeholder -> "Enter email..."
        )  
        
        @inputText(registrationForm("phone"),
            'size -> 25,
            '_label -> "Phone Number",
            'placeholder -> "Enter phone number..."
        )  
        
        <input type="submit" value="Register">        
        <input type="button" value="Clear" onclick="clearForm()">      
    }
    
    <script>
        function clearForm() {
            window.location.assign("/registrations")
        }
    </script>

}
